@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@font-face {
  font-family: BeachSound;
  src: url("/BeachSound.otf") format("opentype");
}

:root {
  --text: #1d150c;
  --background: #f6f0e9;
  --primary-button: #ff9f1c;
  --secondary-button: #ecded0;
  --accent: #2ec4b6;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  display: grid;
  grid-template-rows: 15% 85%;

  color: var(--text);
  background-color: var(--background);
}

.grid {
  display: grid;
  grid-template-columns: 15% 85%;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

.icon {
  height: 2rem;
  width: 2rem;
}

/* Sidebar styles */

.sidebar {
  background-color: var(--primary-button);
  color: var(--ta);
  height: 100vh;
}

.logo-text > h1 {
  font-family: "BeachSound";
}

.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1.875rem 1.875rem;
  font-weight: 700;
}

.logo-text > img,
.navlink > img {
  margin-right: 1rem;
}

.navlink {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.625rem 1.875rem;
  font-size: 1.25rem;
}

.navlink:hover {
  transform: scale(1.1);
  filter: invert(1);
}

.navlink:active {
  transform: scale(1.2);
}
.nav-lower {
  margin-top: 3.125rem;
}

/* Main styles */
.main {
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 80%;
}

/* Header styles */

.header {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.navbar,
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 20px;
  background-color: var(--background);
}

.search-input {
  width: 500px;
  border: 0.16rem solid var(--accent);
  border-radius: 2rem;
  background-color: var(--secondary-button);
  margin-left: 1rem;
  margin-right: 700px;
  padding: 1px;
  font-size: 1.2rem;
  text-indent: 1rem;
}

.search-input:focus {
  background-color: var(--background);
}
.user-icon,
.user-icon-large {
  margin: 0 1rem;
}

.user-icon-large {
  height: 5rem;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 30%;
}

.welcome-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 20px;
  background-color: var(--background);
}

.header-btn {
  background: var(--primary-button);
  border-radius: 2rem;
  width: 100px;
  height: 45px;
  border: 0;
  margin-right: 20px;
}

.header-btn:hover {
  background-color: var(--text);
  color: var(--primary-button);
}

.header-btn:active {
  background-color: var(--text);
  color: var(--primary-button);
  scale: 1.1;
}
/* Center container styles */

.content-container {
  background-color: var(--secondary-button);
  display: grid;
  grid-template-columns: 70% 30%;
}

.cards {
  display: grid;
  grid-template-columns: 50% 50%;
}

.card {
  background-color: var(--background);
  border-left: 0.5rem solid var(--accent);
  border-radius: 10px;
  width: 90%;
  min-height: 40%;
  margin: 15px 0;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.icons {
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding-right: 1rem;
}

.icons > img:hover {
  box-shadow: 1px 1px 1px 1px var(--primary-button);
  background-color: var(--secondary-button);
}

.icons > img:active {
  transform: scale(1.2);
  box-shadow: none;
  background-color: var(--primary-button);
}

h5 {
  font-size: 1.2rem;
}

.card p {
  font-size: 1rem;
  margin: 10px 0;
}

h3 {
  margin-top: 20px;
}

.locations {
  padding-left: 1rem;
}

/* news styles */

.news {
  display: grid;
  grid-template-rows: 50% 50%;
}

.ann-card,
.trend-card {
  height: 90%;
  width: 90%;
  background-color: var(--background);
  border-radius: 1rem;
}

.ann-text {
  padding-left: 10px;
}

.ann-text h5 {
  font-size: 1.1rem;
}

.ann-text p {
  font-size: 14px;
  margin: 1px;
}

.divider {
  border: 0.5px solid var(--accent);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}
.trend {
  height: 80%;
}
.trend-image-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px;
}
.trend-text {
  margin-left: 1rem;
}

.trend-text h5 {
  font-size: 1.2rem;
}
.trend-image-text > img {
  height: 50px;
}
